{% extends 'main/base.html' %}
{% block head %}
{{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
{% endblock%}
{% block content %}
<section class="mb-5">
  <div class="container profile-page px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <!--introduction of Boogle-->
          <h3 class="text-center fw-bold mb-4">What is Boogle?</h3>
          <div class="card card-container mb-5 border border-dark border-2 rounded-0" style="box-shadow: 5px 5px grey;">
            <h3 class="text-center fw-bold">We serve websites that introduce and recommend books.</h3>
          </div>

          <!--profile cards-->
          <h3 class="text-center fw-bold mb-4">Team Boogle</h3>
          <div class="container profile-header">
            <div class="row d-flex justify-content-center align-items-center">
                <!--first card-->
                <div class="card card-container mb-5 border border-dark border-2 rounded-0" style="box-shadow: 5px 5px grey;">
                    <div class="row m-4">
                      <div class="col-lg-4 col-md-4 col-12">
                        <div class="profile-image float-md-right"> <img src="static/images/profile_image.png" alt=""> </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <h4 class="m-t-0 m-b-0"><strong>Name: 정웅빈</strong></h4>
                        <span class="job_post"><strong>Position: 백엔드</strong></span>
                        <p>저는 웹 프레임워크 Flask를 사용하여 웹 서버를 구축하였습니다. <br>전체적인 프로젝트의 구조화 작업과 함께, 회원가입 및 로그인, 게시판, 장바구니와 같은 웹의 기본적인 기능들을 구현하는 작업을 맡아 진행하였습니다. 이를 위하여 블루프린트로 라우팅 함수를 관리하고, 데이터 처리를 위하여 ORM 라이브러리를 사용하였습니다. </p>
                      </div>
                    </div>
                </div>
                <!--second card-->
                <div class="card card-container mb-5 border border-dark border-2 rounded-0" style="box-shadow: 5px 5px grey;">
                  <div class="row m-4">
                    <div class="col-lg-4 col-md-4 col-12">
                      <div class="profile-image float-md-right"> <img src="static/images/profile_image.png" alt=""> </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <h4 class="m-t-0 m-b-0"><strong>Name: 박주혁</strong></h4>
                      <span class="job_post"><strong>Position: 백엔드</strong></span>
                      <p>저는 크롤링, API를 통해 데이터를 수집하고, 이를 전처리하는 작업을 진행하였습니다. <br> 수집된 데이터를 기반으로 하여 Doc2vec 기법을 구현, 이를 활용한 추천 시스템을 구축하였습니다. </p>
                    </div>
                  </div>
                </div>
                <!--third card-->
                <div class="card card-container mb-5 border border-dark border-2 rounded-0" style="box-shadow: 5px 5px grey;">
                  <div class="row m-4">
                    <div class="col-lg-4 col-md-4 col-12">
                      <div class="profile-image float-md-right"> <img src="static/images/profile_image.png" alt=""> </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <h4 class="m-t-0 m-b-0"><strong>Name: 정미정</strong></h4>
                      <span class="job_post"><strong>Position: 프론트엔드</strong></span>
                      <p>웹사이트의 전체적인 레이아웃 디자인 및 각 페이지 별 퍼블리싱 작업을 담당했습니다. <br> 특히, 핵심 기능 요소가 들어가는 carousel을 디자인 및 구현했습니다. <br> 퍼블리싱 작업에는 HTML, CSS를 사용하였습니다. </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>  
      </div>
  </div>
</section>
{% endblock %}