<!-- 공통 템플릿. 모든 템플릿에서 상속받아 사용 -->
<!DOCTYPE html>
<html lang="eng">
    <head>
        <!--자식 템플릿 코드가 들어갈 자리-->
        {% block head %}
        <meta charset="utf-8">
        <title>Boogle - All the books in the world</title>
        <!-- 동적 리소스 파일 로드 -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        {% endblock %}
    </head>
    <body>
      <div class="wrapper">
        <div class="page-header">
          <div class="header-container">
            <a class="logo-container" href ="{{ url_for('main.index') }}">
              <div class="logo_text">
                  <h1>Boogle</h1>
              </div>
            </a>
            <div class="Nav-bar">
              <nav class="nav">
                <a href ="{{ url_for('main.about') }}">About</a>
                <a href ="{{ url_for('book.bookshelves') }}">Bookshelves</a>
                <a href ="{{ url_for('question.board') }}">Board</a>
                <!-- 사용자 로그인 상태-->
                {% if g.user %}
                  <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ g.user.username }} (Logout)</a>
                <!-- 로그아웃 상태-->
                {% else %}
                  <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                  <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign up</a>
                {% endif %}                
              <nav>
            </div>
            <div class="search_box">
              <form method="get" action="{{ url_for('book.search') }}">
                  <div>
                      <label for = "book" class = "form-label"><strong> BOOK SEARCH : </strong></label>
                      <input type="text" name = 'book' class = "form-control" id="book" rows="3" />
                  </div>
                  <button type = "submit" class = "btn btn-light"> <strong>SUBMIT</strong></button>
              </form>
            </div>
            <!-- <hr align="left" style="border: solid 3px black; width: 1080px;"> -->
          </div>         

        </div>
        <div class="content-container">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-8">
              {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                      {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">
                              {{ message }}
                          </div>
                      {% endfor %}
                  {% endif %}
              {% endwith %}

              {% block content %}
              <!--자식 템플릿 코드가 들어갈 자리-->
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
      <div class="page-bottom">
        <div class="copyright">
          Project Boogle - All the books in the world
        </div>
      </div>
      <!-- Bootstrap JS-->
      <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.min.js')}}"></script>
      <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>

</html>