{% extends 'main/base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
<div class="contain num1">
  <div class="slider">
      <h1>Topic : Buddhism</h1>
      <span onmouseover="scrollEsquerda(1)" onmouseout="clearScroll(1)" class="handle handlePrev active">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
      </span>

      <div id="scroller1" class="row">
        <div class="row__inner">
          {%for book in books%}
          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="{{book[  'formats'][  'image/jpeg']}}" alt=""/>
              <div class="gui-card__details">
                <div class='gui-card__title'>
                  {{book['title']}}
                </div>
                <button class="details">details</button>
                <button class="add">add</button>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>

      </div>
      <span onmouseover="scrollDireita(1)" onmouseout="clearScroll(1)"  class="handle handleNext active">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </span>
    </div>
</div>
<div class="contain num2">
  <div class="slider">
      <h1>Author : Nietzsche</h1>
      <span onmouseover="scrollEsquerda(2)" onmouseout="clearScroll(2)" class="handle handlePrev active">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
      </span>

      <div id="scroller2" class="row">
        <div class="row__inner">
          {%for book in books2%}
          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="{{book[  'formats'][  'image/jpeg']}}" alt=""/>
              <div class="gui-card__details">
                <div class='gui-card__title'>
                  {{book['title']}}
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>

      </div>
      <span onmouseover="scrollDireita(2)" onmouseout="clearScroll(2)"  class="handle handleNext active">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </span>
    </div>
</div>
<div class="contain num3">
  <div class="slider">
      <h1>Popular</h1>
      <span onmouseover="scrollEsquerda(3)" onmouseout="clearScroll(3)" class="handle handlePrev active">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
      </span>

      <div id="scroller3" class="row">
        <div class="row__inner">
          {%for book in books3%}
          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="{{book[  'formats'][  'image/jpeg']}}" alt=""/>
              <div class="gui-card__details">
                <div class='gui-card__title'>
                  {{book['title']}}
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>

      </div>
      <span onmouseover="scrollDireita(3)" onmouseout="clearScroll(3)"  class="handle handleNext active">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </span>
    </div>
</div>
{% endblock %}


