{% extends 'main/base.html' %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

{% endblock %}
{% block content %}
<!-- 질문 등록 -->
<div class="container">
    <h4 class="my-3 border-bottom pb-2">Write the post</h4>
    <form method="post" class="my-3">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="subject">Title</label>
            <input type="text" class="form-control border border-dark border-2 rounded-0" name="subject" id="subject"
            value="{{ form.subject.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="content">Contents</label>
            <textarea class="form-control border border-dark border-2 rounded-0" name="content" id="content" rows="10">
                {{ form.content.data or '' }}   
            </textarea>
        </div>
        <button type="submit" class="btn btn-light border border-dark border-2 rounded-0 font-weight-bold" style="float:right;">Submit!</button>
    </form>
</div>
{% endblock %}